*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
nav{
    height: 80px;
    background-color: grey;
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav .container-nav{
    display: flex;
    justify-content: space-between;

    height: 100%;
    margin: 0 1em;
}

nav .container-nav .nav-left{
    width: 200px;
    height: 100%;
    background-color: green;
    /* test */
}

nav .container-nav .nav-right{
    width: 200px;
    height: 100%;
    background-color: green;
    /* test */
}

/* /navbar */



/* header */
header{
    background-color: #b4d0e7;
}


header .container-header{
    padding-top: 150px;
    max-width: 1200px;
    margin: 0 auto;
    /* test */
}

header .container-header h1{
    background-color: green;
    height: 100px;
    padding-top: 150px;
    margin-bottom: 2em;
    /* test */
}

header .container-header .header-inner{
    display: flex;
    gap: 2em;
    position: relative;
}

header .container-header .header-inner .header-left{
    width: 500px;
    height: 300px;
    background-color: green;
    /* test */
}

header .container-header .header-inner .header-right{
    width: calc(100% - 510px);
    height: 400px;
    background-color: green;
    position: absolute;
    right: 0;
    bottom: -85px;
}




/* /header */




/* main */


/*/ main */
