*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.btn button{
    padding: .4em 1.2em;
}

.btn-primary button{
    color: white;
    background-color: #0061ff;
    border: none;
}
/* navbar */
nav{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
}

nav .container-nav{
    display: flex;
    justify-content: space-between;

    height: 100%;
    margin: 0 1em;
}

nav .container-nav .nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

nav .container-nav .nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

nav .container-nav  a{
    text-decoration: none;
    color: black;
}



/* /navbar */



/* header */
header{
    background-color: #b4d0e7;
}


header .container-header{
    padding-top: 150px;
    max-width: 1200px;
    margin: 0 auto 180px;
    /* test */
}

header .container-header h1{
    max-width: 70%;
    font-size: 3em;
    margin-bottom: 1em;
    padding-left: 15px;
}

header .container-header .header-inner{
    display: flex;
    gap: 2em;
    position: relative;
}

header .container-header .header-inner .header-left{
    width: 500px;
    padding: 1em;
    /* test */
}

header .container-header .header-inner .header-left>*{
    margin-bottom: 2em;
}

header .container-header .header-inner .header-left .fa-arrow-down{
    font-size: 2em;
}

header .container-header .header-inner .header-right{
    width: calc(100% - 510px);
    position: absolute;
    right: 0;
    bottom: -70px;
}

header .container-header .header-inner .header-right .image-header{
    height: 100%;
}

header .container-header .header-inner .header-right .image-header img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}





/* /header */




/* main */

main{
    margin-bottom: 100px;
}

main .main-centered{
    max-width: 1000px;
    margin: 0 auto;
}

main .main-centered .title-main{
    margin-bottom: 2em;
    font-size: 1.5em;
}


main .main-centered .select-planes{
    display: flex;
    margin-bottom: 20px;
    /* test */
}

main .main-centered .select-planes .plane-left{
    margin-right: 1em ;
}

main .main-centered .select-planes .plane-right{
    margin-left: 1em;

}

/* plane list */
main .main-centered .container-plane-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

main .main-centered .container-plane-flex .container-list{
    width: 30%;
    border: 1px solid #cccccc;
}

main .main-centered .container-plane-flex .container-list .header-list{
    text-align: center;
    padding: .4em 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em;
}

main .main-centered .container-plane-flex .container-list .body-list{
    padding: 1em;
}

main .main-centered .container-plane-flex .container-list .body-list>*{
    margin-bottom: 1em;
}

main .main-centered .container-plane-flex .container-list .body-list .last-p{
    margin-bottom: 2em;
}

main .main-centered .container-plane-flex .container-list  .row-list{
    display: flex;
}
main .main-centered .container-plane-flex .row-list .icon{
    margin-right: .4em;
}

main .main-centered .container-plane-flex .container-list .body-list .btn-primary{
    text-align: center;
}

main .main-centered .container-plane-flex .container-list .body-list a{
    text-decoration: none;
}

main .main-centered .container-plane-flex .container-list .body-list hr{
    width: 60px;
    margin-bottom: 1em;
    color: #cccccc;
}

main .main-centered .container-plane-flex .row-list .fa-check{
    color: blue;
}
/*/ plane list */

/* enterpise */
main .main-centered .container-enterprise {
    border: 1px solid #00000075;
    margin-bottom: 90px;
}


main .main-centered .container-enterprise .container-enterprise-top-flex{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #00000075;
    padding: 0.5em;
    margin-bottom: 1.5em;
}

main .main-centered .container-enterprise .container-enterprise-top-flex .fa-people-group{
    margin-right: .4em;
}

main .main-centered .container-enterprise .contain-head-enterprise{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


main .main-centered .container-enterprise .contain-head-enterprise .title-enterprise{
    margin-left: 1em;
    /* test */
}


main .main-centered .container-enterprise .contain-head-enterprise .btn{
    margin-right: 1em;
}

main .main-centered .container-enterprise span{
    margin: 1em ;
}

main .main-centered .container-enterprise p{
    margin: 1.5em 1em;
    max-width: 550px;
    line-height: 26px;
}
/* /enterpise */


 /* contacts */
main .main-centered .contacts-container{
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 90px;
    /* test */
}

main .main-centered .contacts-container .image-contacts{
    width: calc(50% - 20px);
    margin: 10px;

}

main .main-centered .contacts-container .image-contacts img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


main .main-centered .contacts-container .text-contacts{
    width: calc(30% - 20px);
    padding: 1em;
    margin: 10px;
}

main .main-centered .contacts-container .text-contacts>*{
    margin-bottom: 1.5em;
}

main .main-centered .contacts-container .text-contacts .btn-secondary{
    text-align: center;
}
 /* contacts */

 /* cards */
 main .main-centered .container-cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
 }

 main .main-centered .container-cards .card{ 
    width: calc(100% / 3 - 20px);
    margin: 10px;
 }

 main .main-centered .container-cards .card .image-card{
    height: 50%;
 }

 main .main-centered .container-cards .card .image-card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
 }


 main .main-centered .container-cards .card .text-card{
    padding: 1em;
 }

 main .main-centered .container-cards .card .text-card h3{
    margin-bottom: 1em;
 }

 /*/ cards */

main .main-centered .link-main{
    margin-bottom: 90px;
}


/* bottom main */

/* container sponsor */

main .container-sponsor{
    display: flex;
}

main .container-sponsor .sponsor-image-container{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

main .container-sponsor .sponsor-text {
    width: calc(100vw / 3);
    flex-grow: 1;
}

main .container-sponsor .sponsor-text .contain-text{
    padding: 0 1em;
}



main .container-sponsor .sponsor-text .logo-text{
    height: 30%;
}

main .container-sponsor .sponsor-text .logo-text img{
    height: 80%;
    object-fit: contain;
    width: 70%;
    padding: 1em .4em;
}

main .container-sponsor .sponsor-text hr{
    width: 60px;
    margin-bottom: 1em;
    color: #cccccc;
}

main .container-sponsor .sponsor-text p:first-of-type{
    padding-bottom: 2em;
}



main .container-sponsor .sponsor-image-container .sponsor-image{
    width: calc(100% / 2);
    height: calc(100% / 2);
    border: 1px solid black;
    background-color: #d3b49ba3 ;
}

main .container-sponsor .sponsor-image-container #back-image{
    background-color: #a2d39b;
}
main .container-sponsor .sponsor-image-container #back-image2{
    background-color: #0093ce;
}

main .container-sponsor .sponsor-image-container #back-image3{
    background-color: #61082b;
}

main .container-sponsor .sponsor-image-container #back-image4{
    background-color: #ff1c1c;
}
main .container-sponsor .sponsor-image-container #back-image5{
    background-color: #d5001f;
}

main .container-sponsor .sponsor-image-container #back-image6{
    background-color: #b4d0e7;
}

main .container-sponsor .sponsor-image-container #back-image7{
    background-color: #0d2481;
}

main .container-sponsor .sponsor-image-container #back-image8{
    background-color: #ffd830;
}


main .container-sponsor .sponsor-image-container .sponsor-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: invert(1);
}

/* container sponsor */



/* sign-container */
main .sign-container{
    width: 100%;
    background-color: #b4d0e7;
    margin-bottom: 100px;
    /* test */
}

main .sign-container .sign-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

main .sign-container .main-centered .text-inner{
    max-width: 35%;
    font-size: 1.2em;
}

/* /sign-container */


/* FAQ*/
main .main-centered .FAQ{
    display: flex;
    justify-content: space-between;

    padding: 30px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* FAQ*/

/* bottom main */

/*/ main */


footer{
    background-color: #000000;
    color: white;
}


footer .container-footer{
    max-width: 1000px;
    margin: 0 auto;
}


footer .container-footer .list-footer{
    display: flex;
    justify-content: space-between;
}

footer .container-footer .list-footer ul {
    padding-bottom: 80px;
    list-style-type: none;
}

footer .container-footer .list-footer h3{
    padding: 80px 0 30px;
}

footer .container-footer .list-footer ul li a{
    padding-bottom: 0.6em;
    text-decoration: none;
    color: grey;
   
}

footer .container-footer hr{
    width: 100px;
    margin-bottom: 30px;
}

footer .container-footer .select-lang{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0;
    font-size: .8em;
    color: grey;
}


footer .container-footer .select-lang .fa-earth-americas{
    margin-right: 8px;
}

/* /footer */

